.brands__wrapper {
    display: flex;
    justify-content: space-between;
}

.brands__title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 40px;
}

.brand__navigation {
    color: #FFF;
    width: 430px;
    height: 750px;
    font-size: 75px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    width: 430px;
    height: 750px;
    text-align: center;
    display: grid;
    align-items: end;
    margin-left: 40px;
    
    cursor: pointer;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
}