.info__wrapper {
    margin-top: 25.5vh; 
    margin-left: 12.5vw;
    display: flex;
    margin-right: 38vw;
}

.info__name {
    color: #AC8BD5;
    font-size: calc(12px + 8 * ((100vw - 320px) / 1600));;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 15px;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
    text-align: end;
    text-transform: uppercase;
}

.info__description {
    color: #000;
    font-size: calc(9px + 8 * ((100vw - 320px) / 1600));;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2px;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;

    margin-bottom: 25.5vh;
}